* {
	padding: 0px;
	margin: 0px;
	color: white;
}

body {
	background: #0f0f0f;
	color: #fff;
}

header {
	display: flex;
	padding: 10px 30px;
}

.menu, .search-bar, .options {
	display: flex;
	width: 100%;
	gap: 10px;
	align-items: center;
}

.logo {
	width: auto;
	height: 20px;
}

header i {
	font-size: 20px;
}

.icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
}

.icon img {
	width: auto;
	height: 40px;
}

.search-bar {
	justify-content: center;
}

.search {
	display: flex;
}

.search-button {
	width: 70px;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 25px 25px 0px;
	border: 1px solid #444;
}

.search input {
	background: none;
	border: 1px solid #444;
	border-radius: 25px 0px 0px 25px;
	height: 40px;
	width: 500px;
	font-size: 16px;
	padding: 0px 20px;
}

.options {
	justify-content: flex-end;
}

main {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.hashtags p {
	color: #40a7ff;
	font-size: 14px;
}

.author-info {
	display: flex;
	gap: 10px;
}

.author-container {
	display: flex;
	gap: 50px;
}

.player-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.subscribers {
	font-size: 12px;
	color: grey;
}

.author-image {
	border-radius: 25px;
	overflow: hidden;
	width: 50px;
	height: 50px;
}

.author-name {
	font-weight: 500;
}

.author-image img{
	width: auto;
	height: 50px;
}

.subscribe-button button {
	border: none;
	background: white;
	height: 30px;
	width: 100px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 700;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-section {
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.category {
	display: flex;
	overflow-x: scroll;
	gap: 10px;
	-ms-overflow-style: none;
	scrollbar-width: none; 
}

.category::-webkit-scrollbar {
  display: none;
}

.category div {
	background: #222;
	border-radius: 5px;
	padding: 5px 10px;
	flex-shrink: 0;
}

.other-videos {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.video {
	display: flex;
	gap: 10px;
}

.thumbnail {
	border-radius: 5px;
	overflow: hidden;
	height: 100px;
}

.thumbnail img {
	height: 100px;
	width: auto;
}

.video-title {
	font-weight: 700;
}

.views, .name {
	font-size: 12px;
	color: grey;
}

.video-details {
	display: flex;
	flex-direction: column;
}

.icon:hover {
	background: #222;
}
